.banner{
    width: 100%;
    
}

.banner img{
    width: 100%;
    
    
    mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 2),
      rgba(0, 0, 0, 0.95),
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0)
    );
    
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 2),
      rgba(0, 0, 0, 0.95),
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0)
    );
    
    
       
    
   
}
.banner img:nth-child(2){
    display: none;

}
@media only screen and (max-width: 767px) {
    .banner img:nth-child(1){
        display: none;
    }
    .banner img:nth-child(2){
        display: block;
    }
}
.main{
    display: grid;
    justify-content: center;
    place-items: center;
    width: 100%;
    grid-auto-rows: 420px;
    grid-template-columns: repeat(4,300px);
    grid-gap: 20px;

}
@media only screen and (max-width: 767px){
    .main{
        grid-template-columns: repeat(2,50%);
        grid-gap: 0;

    }
}
@media only screen and (min-width: 767px){
    .main{
        margin-top: -20px;
        padding: 10px 0px;
    }
}
@media only screen and (min-width: 767px) and (max-width: 1200px){
    .main{
        grid-template-columns: repeat(3,30%);
        grid-gap: 0;

    }
}

.home{
    width: 100%;
    background-color: rgb(234,237,237);
}